<div class="container">
  <div class="card border-0">
    <div class="card-header bg-primary text-light">
      <p class="m-0 text-center">
        <i class="fas fa-unlock-alt mr-2"></i>
        Thay đổi mật khẩu
      </p>
    </div>

    <div class="card-body changePassForm">
      <form
        nz-form
        [formGroup]="changePassForm"
        class="login-form"
        (ngSubmit)="submitForm()"
      >
        <nz-form-item>
          <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu!">
            <nz-input-group nzPrefixIcon="lock">
              <input
                class="py-1"
                nzSize="large"
                type="password"
                nz-input
                formControlName="oldPassword"
                placeholder="Mật khẩu cũ"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <div class="" formGroupName="pw" >
          <nz-form-item>
            <nz-form-control>
              <nz-input-group nzPrefixIcon="lock">
                <input
                  class="py-1"
                  nzSize="large"
                  type="password"
                  nz-input
                  formControlName="newPassword"
                  placeholder="Mật khẩu mới"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-input-group nzPrefixIcon="lock">
                <input
                  class="py-1"
                  type="password"
                  nz-input
                  nzSize="large"
                  formControlName="cnewPassword"
                  placeholder="Nhập lại mật khẩu"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <div
            class="col alert alert-danger"
            role="alert"
            *ngIf="
              changePassForm.hasError('passwordnotmatch', ['pw']) &&
              changePassForm.get('pw')!.touched
            "
          >
            Password does not match!
          </div>
        </div>

        <button

          nz-button
          nzSize="large"
          class="login-form-button login-form-margin"
          [nzType]="'primary'"
          nz-button
          class="w-100"
        >
          Lưu thay đổi
        </button>
      </form>
    </div>
  </div>
</div>
