

.main {
  background-color: #21D4FD;
  background-image: linear-gradient(-60deg, #B721FF 0%, #21D4FD 100%);
  min-height: (calc(100% - 70px));
  padding: 110px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}



